# My Jupyter Notebook Skills

## Introduciton : In this notebook ı will show you my skills and finish my work according to following instructions.

### List data science languages
1. Python, 
2. R,
3. SQL
#### However other than first three foremost languages we haveother languages such as 
1. Scala, 
2. Java, 
3. C++,
4. Julia
5. JavaScript, 
6. PHP, 
7. Go, 
8. Ruby,

### List data science libraries
1. Pandas offers data structures and tools for effective data cleaning, manipulation, and analysis.
2. The Matplotlib package is the most well-known library for data visualization.
3. Another high-level visualization library is Seaborn.
4. For machine learning, the Scikit-learn library contains tools for statistical modeling, including regression, classification, clustering, and so on.
5. For building deep learning models, Keras allows you to build the standard deep learning model. 
6. Like Scikit, the high-level interface allows you to build models in a quick, simple manner. 
7. TensorFlow is a low-level framework used in the large-scale production of deep learning models. 
8. Pytorch is used for experimentation, making it simple for researchers to test ideas. 
9. Apache Spark is a general-purpose cluster-computing framework allowing you to process data using compute clusters. 
10. Scala
11. Vegas

### Table of Data Science tools
| DATA MANAGEMENT | DATA INTEGRATION and TRANSFORMATION | DATA VISUALIZATION | MODEL DEPLOYMENT | MODEL MONITORING and ASSESSMENT | CODE ASSET MANAGEMENT | DATA ASSET MANAGEMENT |
| --------------- | ----------------------------------- | ------------------ | ---------------- | ------------------------------- | --------------------- | ---------------------------- |
| MySQL           | Apache AirFlow | Pixie Dust      | Apache PredictionIO | IBM AI Fairness 360 | Git | Apache Atlas |
| PostgreSQL      | KubeFlow       | Hue             | Seldon | ModelDB       |GitHub | ODPi Egeria | Kylo |
| MongoDB         | Apache Kafka   | Kibana          | Kubernetes | Prometheus | GitLab | 
| Apache          | Apache Nifi    | Apache Superset | Redhat OpenShift | The IBM Adversarial Robustness 360 | Bitbucket |
| CouchDB         | Apache SparkSQL                  | MLeap |
| Apache Cassandra|Raspberry Pi                  | TensorFlow |
| Ceph            | NodeRED |

In [36]:
print("Arithmetic Expression Examples")
print (5+4)
print (5*4)
print (10/2)
print (10-2)

Arithmetic Expression Examples
9
20
5.0
8

In [40]:
print("Code Cell to Multiply and Add Numbers")
print(int(5*9+9))

Code Cell to Multiply and Add Numbers
54

In [41]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("HOUR=",h)
print("MINUTES=",m)

Enter time in minutes 820

HOUR= 13
MINUTES= 40

### Objectives
- I want to became a data scientis
- I want to be able to analysis the data.
- I want to help people with my analysis.
- I want to educate my self and reach the best potential of mine.

# Author’s name : Mustafa Hızarcı